<h1>Hello!</h1>

<p>This is an example project for the git training unit of the <a href="http://www.meetup.com/mi-ruby">West Michigan Ruby Users Group</a> Ruby Newbies class.</p>

<p>Below, you'll find a list of the students who have completed the unit.</p>
<p>If you are a current student, please fork the repo from https://github.com/matthew-p/wmrug-git-demo/ into your own github account, clone the repo onto your development computer, create a new branch, insert your own github name & link within that branch, commit the changes, push the change to your fork, then submit a pull request from your github repo for the original author to authorise the pull request & integrate your change.
see instructions here: https://github.com/WestMichiganRubyTraining/challenges/blob/master/git/README.md
</p>
<ul>
  <li><a href="https://github.com/matthew-p">@matthew-p</a></li>
</ul>
